<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firi Furi Fugro</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/length_calc/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/length_calc/style.css' %}">
</head>
<body>
<section class="background">
    <div class="box">
        <span class="text-center" id="result">{{result}}</span>
        <form>
            {% for field in form %}
            <div class="input-container">
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn button-37">Azanyját</button>
        </form>
    </div>
</section>

</body>
</html>